/* Reset / Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation / Navbar   */

.nav{
    padding: 22px;
    text-align: right;
    z-index: 10;
    position: absolute;  /* was relative */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* stays above background */
}


.nav-left{
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.nav-left h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 3px black;
}

.nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav li{
    text-decoration: none;
    margin: 20px;
    list-style: none;
    display: inline;
}

.nav li a:hover{
    color: black;
    background-color: yellow;
    padding: 10px;
    text-shadow: 0px 0px 5px white;
    border-radius: 30px;
}


/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: black;
    min-width: 160px;
    padding: 10px;
    z-index: 1000;
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.45);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li{
    display: block;
    margin: 10px;
    text-align: left;
}

.dropdown-content li a:hover{
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 10px;
}


/* Background video*/
.SECTION-1{
    position: relative;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    
}


.BACKGROUND-VID{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115vh; 
    object-fit: cover;
    z-index: -1;
    background-attachment: fixed;
}

.video-dim{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 0;
    pointer-events: none;
}



.TAGLINE{
    color: white;
    padding: 300px;
    text-align: center;
    
}

.TAGLINE h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.TAGLINE p{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
    margin-inline: auto;
    white-space: nowrap;
    animation: typing 3s steps(60) forwards;
}

@keyframes typing {
    from { width: 0;}
    to {width: 100%;}
}



.TAGLINE hr{
    position: relative;
    top: 10px;
}



.INTRODUCTION-IMG{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
}


.SECTION-2{
    background-image: url(images/INDEX\ BG1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    position: relative;       

    color: white;
    transition: 0.3s;
}

.backgroundoverlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    padding: 30px;
}

.SEC2-FLEX{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    gap: 30px;
}

.INTRO-TEXT h1{
    padding: 15px;
    color: white;
    font-size: 30px;
    width: 258px;
    text-align: center;
    position: relative;
    right: 28px;
    line-height: 1.4;

    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px black;
}




.SECTION-2 img{
    border-radius: 20px;
}


.SECTION-2 p{
    padding: 15px;
    justify-content: start;
    min-width: 100px;
    transition: 0.3s;
    position: relative;
    right: 10px;
    top: 10px;

    background-color: white;
    color: black;
    border-radius: 10px;
    line-height: 1.6;
}


.SECTION-3{
    padding: 30px;
    height: 130vh;
    background-image: url(images/INDEXBG2.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    
}

.SEC3-TITLE{
    color: black;
    background-color: white;
    text-align: center;
    width: 400px;
    margin-inline: auto;
    padding: 10px;
    position: relative;
    top: 20px;
    border-radius: 20px;
}

.backgroundoverlay-2{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.GRID{
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    place-items: center;
    height: 100%;
    width: 100%;
}

.GRID2{
    position: relative;
    bottom: 100px;
}

.GRID img{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    left: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s;
    position: relative;
    left: 250px;
}

.GRID img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px white;
}

.FOOTER{
    background-image: url(images/FOOTB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    padding: 25px;
}

.FOOTER::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    pointer-events: none;
}

.FOOTER > * {
    position: relative;
    z-index: 1;    
}

.FOOT-LOGO{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CONTACTS{
    text-align: center;
    padding: 20px;
    position: relative;
}

.CONTACTS li{
    list-style: none;
    display: inline;
}

.IG{
    position: relative;
    bottom: 4px;
}


