* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation / Navbar */
.nav{
    padding: 22px;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-left{
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.nav-left h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 3px black;
}

.nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav li{
    text-decoration: none;
    margin: 20px;
    list-style: none;
    display: inline;
}

.nav li a:hover{
    color: black;
    background-color: yellow;
    padding: 10px;
    text-shadow: 0px 0px 5px white;
    border-radius: 30px;
}


/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: black;
    min-width: 160px;
    padding: 10px;
    z-index: 1000;
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.45);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li{
    display: block;
    margin: 10px;
    text-align: left;
}

.dropdown-content li a:hover{
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 10px;
}


.SECTION1{
    background-image: url(images/MAINBG1.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;

    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px black;
}

.SECTION1-TITLE h1{
    color: white;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}


.P1, .P2{
    color: white;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;

}



.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    padding: 200px;
}


.SECTION2{
    background-image: url(images/MAINBG2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.background-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    padding: 150px;
}


.SECTION2-CONTENT{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-position: inside;
    text-align: justify;

    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px black;
}

.SECTION2-IMG img{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

.SECTION2-LIST h1{
    color: white;
    margin-bottom: 20px;
}

.SECTION2-LIST li{
    color: white;
    font-size: 20px;
    margin: 15px;
}


.SECTION3{
    background-image: url(images/MAINBG3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.background-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    padding: 100px;
}


.SECTION3-CONTENT{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-position: inside;
    text-align: justify;

    position: relative;
    top: 50px;

    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px black;
}

.SECTION3-IMG img{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.SECTION3-LIST h1{
    color: white;
    margin-bottom: 20px;
}

.SECTION3-LIST li{
    color: white;
    font-size: 20px;
    margin: 15px;
}



.FOOTER{
    background-image: url(images/FOOTB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    padding: 25px;
}

.FOOTER::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    pointer-events: none;
}

.FOOTER > * {
    position: relative;
    z-index: 1;    
}

.FOOT-LOGO{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CONTACTS{
    text-align: center;
    padding: 20px;
    position: relative;
}

.CONTACTS li{
    list-style: none;
    display: inline;
}

.IG{
    position: relative;
    bottom: 4px;
}

















